<style amp-custom>
    .blue-box, .red-box, .green-box {
      width: 100%;
      height: 280px;
    }
    .blue-box {
      background: blue;
      color: #fff;
    }
    .green-box {
      background: green;
      color: #fff;
    }
    .red-box {
      background: red;
      color: #111;
    }
    #custom-button .amp-carousel-button-prev {
      left: 5%;
      background-image: url('https://amp.dev/static/samples/img/carousel-arrow-left.png');
    }
    #custom-button .amp-carousel-button-next {
      right: 5%;
      background-image: url('https://amp.dev/static/samples/img/carousel-arrow-right.png');
    }
  </style>
<amp-carousel width="125" height="100" type="slides" autoplay delay="5000" role="region" aria-label="Carousel with autoplay">

    <div class="slide">
     <amp-img src="/images/shrichakra.png" width="125" height="100" layout="responsive" alt="a sample image"></amp-img>
        
		<div class="caption">
            The Border Collie is a working and herding dog breed developed in the Anglo-Scottish border region for herding livestock, especially sheep. It was specifically bred for intelligence and obedience.
        </div>
    </div>

    <div class="slide">
     <amp-img src="/images/shrichakra.png" width="125" height="100" layout="responsive" alt="a sample image"></amp-img>
        <div class="caption">
            The Shetland Sheepdog, often known as the Sheltie, is a breed of herding dog. Less favored nicknames are the Toy Collie and the Miniature Collie. They are small dogs, and come in a variety of colors, such as sable, tri-color, and blue merle. They are
            very intelligent, vocal, excitable, energetic dogs who are always willing to please and work hard.
        </div>
    </div>

    <div class="slide">
     <amp-img src="/images/shrichakra.png" width="125" height="100" layout="responsive" alt="a sample image"></amp-img>
        <div class="caption">
            The Hovawart is a medium to large size German dog breed. The name of the breed means "an estate guard dog", which is the original use for the breed. The breed originated in the Black Forest region and was first described in text and paintings in medieval
            times.
        </div>
    </div>
</amp-carousel>