{{- range $.Site.Params.ampElements -}}
    <script async custom-element="{{ . }}" src="{{ (index (index $.Site.Data "amp-modules") .) }}"></script>
{{- end }}

{{ with .Params.amp.elements }}
    {{ range . }}
        {{ if in $.Site.Params.ampElements . }}
        {{ else }}
            {{- if (index (index $.Site.Data "amp-modules") .) -}}
                <script async custom-element="{{ . }}" src="{{ (index (index $.Site.Data "amp-modules") .) }}"></script>
            {{- end }}
        {{ end }}
    {{ end }}
{{ end }}
<script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>
{{- $ampCorePath := index (index $.Site.Data "amp-modules") "amp-core" -}}
<script async src="{{ $ampCorePath }}"></script>
<style amp-custom>
    {{ partial "styles/main_cover" . | safeCSS }}
    {{ partial "styles/stylesheet" . | safeCSS }}

.flex-container{
    min-width: 65%;
    min-height: 50px;
    margin: 0 0;
	flex-direction : row;
	border: 0.1rem solid purple;
	display:inline-flex;
    display: -webkit-flex; /* Safari */
	border-radius: 0.1em;
}
.flex-container .column{
    padding: 5px;
	min-width: 70%;
    background: #fff;
    -webkit-flex: 1; /* Safari */
    -ms-flex: 1; /* IE 10 */
    flex: 1; /* Standard syntax */
	flex-grow: 1;
}
.flex-container .column.bg-alt{
    background: #dbdfe5;
	min-width: 12%;
	flex-shrink: 1;
}

		footer {
			background-color: #0a183d;
			color: #fff;
			padding: 0px;
		}
		footer a {
    		color: #fff;
    		text-decoration: none;
		}
		footer a:hover {
			color:#19B5FE;
			text-decoration: underline;
		}
		footer .footer-menu {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		.footer-item {
			flex: 1;
			text-align: left;
			flex-basis: 200px;
		}
		.footer-item ul {
			display: flex;
			flex-direction: column;
			margin-top: 5px;
			padding: 0px;
		}
		.footer-item li {
			list-style: none;
			list-style-type:none;
			margin-bottom: 5px;
			margin-left: 10px;
			font-size: 14px;
		}
		footer .social {
			display: flex;
			justify-content: center;
		}
		footer .social ul {
			display: flex;
			flex-direction: row;
			margin-top: 10px;
			padding: 0px;
		}
		footer .social li {
			list-style: none;
			margin-right: 10px;
		}
		footer .social ul li a {
			color: #fff;
			font-size: 16px;
		}
		footer .meta-content {
			font-size: 10px;
			color:white;
			text-align: center;
		}
		footer .meta-content a {
			color: light-blue;
		}
		@media only screen and (max-width: 1024px) {
			.features {
				flex-wrap: wrap;
			}
			footer h2 {
				font-size: 140%;
			}
			#why-content .meta {
				flex-direction: row;
			}
		}
		@media only screen and (max-width: 768px) {
			.logo {
				width: 160px;
			}
			.links {
				display: none;
			}
			#sidebar-menu-btn {
				display: inline;
			}
			#contact-form {
				width: 80%;
			}
			.footer-item {
				flex-basis: 50%;
			}
		}
		@media only screen and (max-width: 600px) {
			header {
				padding: 5px 0px;
			}
			.content-width { 
				width: 90%;
			}
			#contact-form {
				width: 100%;
			}
			.heading {
				font-size: 28px;
			}
			.feature {
				flex-basis: 100%;
			}
			.meta {
				flex-direction: column;
			}
			.meta > a {
				text-align: center;
				margin-left: 0px;
				margin-bottom: 10px;
			}
		}
		 amp-sidebar {
		 background-size: 100% 50%;
		 }
  /* a custom sharing icon */
  amp-social-share.custom-style {
    background-color: #008080;
    background-image: url('https://raw.githubusercontent.com/google/material-design-icons/master/social/1x_web/ic_share_white_48dp.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  /* blue icons with rounded corners  */
  amp-social-share.rounded {
    border-radius: 50%;
    background-size: 60%;
    color: var(--color-text-light);
    background-color: var(--color-primary);
  }
  :root {
    --color-primary: #005AF0;
    --color-text-light: #fff;
  }

    <!-- :root {
	  --heading-color: red;
      --text-color: black;
      --background-color: white;
      --image-filter: grayscale(0%);    
    }
    #dark-mode:checked ~ label::before {
      content: "☀️";
    }
    #dark-mode:checked ~ * {
      --heading-color: turquoise;
	  --text-color: white;
      --background-color: black;
      --image-filter: grayscale(50%);
      
      color: white;
	  background-color: #121212;
    }
    label[for="dark-mode"]::before {
      content: "🌒";
    }
    #dark-mode, label[for="dark-mode"] {
      color: lightblue;
      position: absolute;
      top: 1rem;
      right: 2.25rem;
    }
    h1 {
      color: var(--heading-color);
    }
    amp-img {
      filter: var(--image-filter);
    }
    .visually-hidden {
      position: absolute;
      overflow: hidden;
      clip: rect(0 0 0 0);
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      border: 0;
      white-space: nowrap; /* 1. */
    } -->
</style>

{{ if isset $.Site.Params "ampmanifest" }}
    {{ partial "amp/app-banner-header" . }}
{{ end }}

