<div class="social">
{{ with .twitter }}
<amp-social-share style="border-radius: 50%;" type="twitter"
  width="36"
  height="36">
</amp-social-share>
{{ end }}
{{ with .whatsapp }}
    <amp-social-share style="border-radius: 50%;" type="system"
                      width="24"
                      height="24">
					  data-share-endpoint="https://play.google.com/store/apps/details?id=com.stevehora.app"
					  data-param-text="Google Play Store App"
					  aria-label="Get Android App"
					  </amp-social-share>
{{ end }}

<!-- {{ with .pinterest }}
    <amp-social-share style="border-radius: 50%;" type="pinterest"
                      width="36"
                      height="36"></amp-social-share>
{{ end }}
 -->
{{ with .facebook }}
    <amp-social-share style="border-radius: 50%;" type="facebook"
					  data-param-app_id="1565436010420790"
                      width="36"
                      height="36"></amp-social-share>
{{ end }}
{{ with .linkedin }}
<amp-social-share style="border-radius: 50%;" type="linkedin"
                  width="36"
                  height="36"></amp-social-share>
{{ end }}
{{ with .email }}
    <amp-social-share style="border-radius: 50%;" type="email"
                      width="36"
                      height="36"></amp-social-share>
{{ end }}
</div>