<div class="social">
{{ with .twitter }}
<amp-social-share style="border-radius: 50%;" type="twitter"
  width="36"
  height="36">
</amp-social-share>
{{ end }}
<!-- {{ with .gplus }}
    <amp-social-share style="border-radius: 50%;" type="gplus"
                      width="36"
                      height="36"></amp-social-share>
{{ end }}
 -->
<!-- {{ with .pinterest }}
    <amp-social-share style="border-radius: 50%;" type="pinterest"
                      width="36"
                      height="36"></amp-social-share>
{{ end }}
 -->
{{ with .facebook }}
    <amp-social-share style="border-radius: 50%;" type="facebook"
                      width="36"
                      height="36"></amp-social-share>
{{ end }}
{{ with .linkedin }}
<amp-social-share style="border-radius: 50%;" type="linkedin"
                  width="36"
                  height="36"></amp-social-share>
{{ end }}
{{ with .email }}
    <amp-social-share style="border-radius: 50%;" type="email"
                      width="36"
                      height="36"></amp-social-share>
{{ end }}
</div>