<div class="social">
{{ with .twitter }}
<amp-social-share class="rounded" type="twitter"
  width="48"
  height="48">
</amp-social-share>
{{ end }}
<!-- {{ with .gplus }}
    <amp-social-share type="gplus"
                      width="48"
                      height="48"></amp-social-share>
{{ end }}
 -->
<!-- {{ with .pinterest }}
    <amp-social-share type="pinterest"
                      width="48"
                      height="48"></amp-social-share>
{{ end }}
 -->
{{ with .facebook }}
    <amp-social-share class="rounded" type="facebook"
                      width="48"
                      height="48"></amp-social-share>
{{ end }}
{{ with .linkedin }}
<amp-social-share class="rounded" type="linkedin"
                  width="48"
                  height="48"></amp-social-share>
{{ end }}
{{ with .email }}
    <amp-social-share class="rounded" type="email"
                      width="48"
                      height="48"></amp-social-share>
{{ end }}
</div>