{{ partial "structure/header.html" . }}

{{if .Params.cover}}
  <header class="main-header tag-head list-cover">
    <nav class="main-nav overlay clearfix">
{{else if .Site.Params.cover}}
  <header class="main-header tag-head cover">
      <nav class="main-nav overlay clearfix">
{{else}}
    <header class="main-header tag-head no-cover">
	<nav class="main-nav clearfix">
{{end}}

{{ partial "navbar.html" . }}
  </nav>
  
  
      <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{.Title}}</h1>
            <h2 class="page-description">
                {{if .Params.description}}
                    {{.Params.description}}
                {{end}}
            </h2>
	        <div class="social-link">
                {{ partial "social/home.html" . }}
            </div>			
        </div>
    </div>

</header>

<main class="content" role="main">

  <article class="post type-{{ .Type }}">

    <header class="post-header">
		<amp-img style="border: solid; border-color: purple; border-radius: 50%;" src="{{ .Params.image | relURL }}" width="48" height="48" alt="{{ .Page.Params.description }}"></amp-img>
    </header>

    <section class="post-content">
      {{ .Content }}
    </section>
   	<section class="post-content">
		  {{ partial "comments/giscus.html" .}}
	  </section>
 
    <!-- {{ partial "author.html" . }} -->
	</br>
    {{ partial "social/share.html" . }}
 
   <footer  style="background: #F1F1F1; position: relative;
    margin: 1.5rem 0 0 0;
    padding: 1.5rem 0 0 0;
    border-top: #EBF2F6 2px solid; border-radius: 101%; text-align: center;" >

    {{if .Site.Params.logo}}
    <figure class="author-image">
        <a style="border: solid; border-color: purple; border-radius: 50%;" class="img" href="{{.Site.BaseURL | relURL}}"></a>
    </figure>
    {{end}}
  </footer>
</article>

</main>
{{ partial "structure/footer.html" . }}
