{{ partial "structure/header.html" . }}

<header class="main-header {{if isset .Site.Params "cover" }}cover{{else}}no-cover{{end}}">
    <nav class="main-nav overlay clearfix">
        {{ partial "navbar.html" . }}
    </nav>

    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">Vedic Astrology</h1>
            <h2 style="color:white;" class="page-description"><b>{{ .Site.Params.information }}</b></h2>
			<h3 class="page-description">by</h3>
            <h2 style="color:white;" class="page-description"><b>{{ .Site.Params.authorname }}</b></h2>
            <div class="social-link">
                {{ partial "social/home.html" . }}
            </div>		
        </div>
    <!-- <div class="scroll-down"><a href="#content"><i class="fa fa-angle-down"></i></a></div> -->
    </div>

</header>

	<main id="content" class="content" role="main">
		<div class="index-content post">
			<article class="text-center">The searched page had moved to another.</br>
				Type your search keywords in <a href="{{ "/search/" | relURL }}">Search Page</a>, to get to your searched content.<br></br>
				Apologies from our side for the inconvenience caused.
			</article>
		</div>
	</main>
{{ partial "structure/footer.html" . }}