<script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Product",
      "name": "Shri Chakra Yantra",
      "image": [
        "https://stevehora.com/images/products/ShriChakra.png"
       ],
      "description": "Shri Chakra for achieving success. Mantra, Yantra and Tantra will be given with it.",
      "sku": "mwtcqrty",
      "mpn": "mwtcqrty",
      "brand": {
        "@type": "Brand",
        "name": "Stevehora.com"
      },
      "review": {
        "@type": "Review",
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "4",
          "bestRating": "5"
        },
        "author": {
          "@type": "Person",
          "name": "Steve Hora"
        }
      },
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "4.4",
        "reviewCount": "89"
      },
      "offers": {
        "@type": "Offer",
        "url": "https://stevehora.com/blog/tithi-information",
        "priceCurrency": "USD",
        "price": "34.99",
        "priceValidUntil": "2020-05-20",
        "itemCondition": "https://schema.org/New",
        "availability": "https://schema.org/InStock",
        "seller": {
          "@type": "Organization",
          "name": "stevehora.com"
        }
      }
    }
    </script>