<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "VideoObject",
      "name": "Hora Vedic Astrology by Steve Hora - Sign",
	  "hasPart": {
		"@type": "Clip",
		"name": "Hora Vedic Astrology by Steve Hora - Sign",
		"startOffset": 10,
		"url": "https://youtu.be/WL7H-v_LzDw?t=10",
		"endOffset": 54
	  },
      "description": "https://stevehora.com
Hora Vedic Astrology by Steve.

Movable, Fixed and Dual - Chara, Sthira and Dwiswa

Mesha, Kataka, Thula and Makara are chara rasis, ruled by Brahma, the Creator and nature is to",
      "thumbnailUrl": [
        "https://i.ytimg.com/vi/WL7H-v_LzDw/hqdefault.jpg"
       ],
      "uploadDate": "2019-04-30T04:19:50Z",
      "duration": "PT1M54S",
      "contentUrl": "https://youtu.be/WL7H-v_LzDw",
	  "embedURL": "https://www.youtube.com/embed/WL7H-v_LzDw?rel=0"
    }
</script>

<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "VideoObject",
      "name": "Steve Hora - Drekkana - Vedic Astrology",
      "description": "https://stevehora.comHora
Vedic Astrology by Steve

Drekkana

Revelation using Drekkana
By Steve Hora
Astrology Expert at Quora
https://www.quora.com/profile/Steve-Hora

Can the fire accident at Notr",
	  "hasPart": {
		"@type": "Clip",
		"name": "Hora Vedic Astrology by Steve Hora - Sign",
		"startOffset": 10,
		"url": "https://youtu.be/L5NCD05E2dE?t=10",
		"endOffset": 54
	  },

      "thumbnailUrl": [
        "https://i.ytimg.com/vi/L5NCD05E2dE/hqdefault.jpg"
       ],
      "uploadDate": "2019-04-25T14:48:23Z",
      "duration": "PT1M55S",
      "contentUrl": "https://youtu.be/L5NCD05E2dE",
	  "embedURL": "https://www.youtube.com/embed/L5NCD05E2dE?rel=0"
    }
</script>

<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "VideoObject",
      "name": "Mantra Prabhava",
      "description": "https://stevehora.com
Hora Vedic Astrology by Steve

Mantra Prabhava - Influence of Grahas using Mantra for Success",
	  "hasPart": {
		"@type": "Clip",
		"name": "Hora Vedic Astrology by Steve Hora - Sign",
		"startOffset": 10,
		"url": "https://youtu.be/pPt8fyLvdqg?t=10",
		"endOffset": 54
	  },

      "thumbnailUrl": [
        "https://i.ytimg.com/vi/pPt8fyLvdqg/hqdefault.jpg"
       ],
      "uploadDate": "2016-11-24T04:00:30Z",
      "duration": "PT1M44S",
      "contentUrl": "https://youtu.be/pPt8fyLvdqg",
	  "embedURL": "https://www.youtube.com/embed/pPt8fyLvdqg?rel=0"
    }
</script>

<script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Product",
      "name": "Shri Chakra Yantra",
      "image": [
        "https://stevehora.com/images/products/ShriChakra.png"
       ],
      "description": "Shri Chakra for achieving success. Mantra, Yantra and Tantra will be given with it.",
      "sku": "mwtcqrty",
      "mpn": "mwtcqrty",
      "brand": {
        "@type": "Brand",
        "name": "Stevehora.com"
      },
      "review": {
        "@type": "Review",
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "4",
          "bestRating": "5"
        },
        "author": {
          "@type": "Person",
          "name": "Steve Hora"
        }
      },
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "4.4",
        "reviewCount": "89"
      },
      "offers": {
        "@type": "Offer",
        "url": "https://stevehora.com/blog/tithi-information",
        "priceCurrency": "USD",
        "price": "34.99",
        "priceValidUntil": "2020-05-20",
        "itemCondition": "https://schema.org/New",
        "availability": "https://schema.org/InStock",
        "seller": {
          "@type": "Organization",
          "name": "stevehora.com"
        }
      }
    }
    </script>