<!-- {{ if .Site.Params.githubName }}
    <a href="https://github.com/{{ .Site.Params.githubName }}" target="_blank">
        <i class="fa fa-github" aria-hidden="true"></i>
    </a>
&nbsp;
{{end}}
{{ if .Site.Params.flickrName }}
    <a href="https://flickr.com/{{ .Site.Params.flickrName }}" target="_blank">
        <i class="fa fa-flickr" aria-hidden="true"></i>
    </a>
 &nbsp;
{{end}}-->
{{ if .Site.Params.twitterName }}
    <a href="https://twitter.com/{{ .Site.Params.twitterName }}" title="twitter" target="_blank">
        <i class="fa fa-twitter" style="font-size:24px; color:red" aria-hidden="true"></i>
    </a>
&nbsp;
{{end}}
{{ if .Site.Params.facebookName }}
    <a href="https://www.facebook.com/{{ .Site.Params.facebookName }}"  title="facebook" target="_blank">
        <i class="fa fa-facebook" style="font-size:24px; color:red" aria-hidden="true"></i>
    </a>
&nbsp;
{{end}}
{{ if .Site.Params.linkedinName }}
    <a href="https://www.linkedin.com/in/{{ .Site.Params.linkedinName }}" title="linkedIn" target="_blank">
        <i class="fa fa-linkedin" style="font-size:24px; color:red" aria-hidden="true"></i>
    </a>
&nbsp;
{{end}}
{{ if .Site.Params.instagramName }}
    <a href="https://instagram.com/{{ .Site.Params.instagramName }}" target="_blank">
        <i class="fa fa-instagram" style="font-size:24px; color:red"  aria-hidden="true"></i>
    </a>
&nbsp;
{{end}}
{{ if .Site.Params.email }}
    <a href="mailto:{{ .Site.Params.email }}" title="eMail" target="_blank">
        <i class="fa fa-envelope" style="font-size:24px; color:red" aria-hidden="true"></i>
    </a>
&nbsp;
{{end}}
	<a href="https://mylivechat.com/chatnoscript.aspx?HCCID=68268000" title="Chat with Steve Hora" target="_blank"><i class="fa fa-comments-o" style="font-size:24px; color:red" aria-hidden="true"></i></a>
<!-- {{ if .Site.Params.pinterestName }}
    <a href="https://www.pinterest.com/{{ .Site.Params.pinterestName }}" target="_blank">
        <i class="fa fa-pinterest" aria-hidden="true"></i>
    </a>
&nbsp;
{{end}}
{{ if .Site.Params.googlePlusName }}
    <a href="https://google.com/+{{ .Site.Params.googlePlusName }}" target="_blank">
        <i class="fa fa-google-plus-official" aria-hidden="true"></i>
    </a>
&nbsp;
{{end}} -->
