<!-- {{ if .Site.Params.githubName }}
    <a href="https://github.com/{{ .Site.Params.githubName }}" target="_blank">
        <i class="fa fa-github" aria-hidden="true"></i>
    </a>
&nbsp;
{{end}}-->
{{ if .Site.Params.appName }}
    <a href="https://play.google.com/store/apps/details?id={{ .Site.Params.appName }}" target="_blank">
        <i class="fab fa-google-play" style="font-size:24px; color:#7CFC00; background-color:#728FCE" aria-hidden="true"></i>
    </a>
 &nbsp;
{{end}}
{{ if .Site.Params.whatsappName }}
    <a href="https://wa.me/{{ .Site.Params.whatsappName }}" title="whatsapp" target="_blank">
        <i class="fab fa-whatsapp" style="font-size:24px; color:#7CFC00; background-color:#728FCE" aria-hidden="true"></i>
    </a>
&nbsp;
{{end}}
{{ if .Site.Params.twitterName }}
    <a href="https://twitter.com/{{ .Site.Params.twitterName }}" title="twitter" target="_blank">
        <i class="fab fa-twitter" style="font-size:24px; color:red" aria-hidden="true"></i>
    </a>
&nbsp;
{{end}}
{{ if .Site.Params.facebookName }}
    <a href="https://www.facebook.com/{{ .Site.Params.facebookName }}"  title="facebook" target="_blank">
        <i class="fab fa-facebook" style="font-size:24px; color:red" aria-hidden="true"></i>
    </a>
&nbsp;
{{end}}
{{ if .Site.Params.linkedinName }}
    <a href="https://www.linkedin.com/in/{{ .Site.Params.linkedinName }}" title="linkedIn" target="_blank">
        <i class="fab fa-linkedin" style="font-size:24px; color:red" aria-hidden="true"></i>
    </a>
&nbsp;
{{end}}
{{ if .Site.Params.instagramName }}
    <a href="https://instagram.com/{{ .Site.Params.instagramName }}" target="_blank">
        <i class="fab fa-instagram" style="font-size:24px; color:red"  aria-hidden="true"></i>
    </a>
&nbsp;
{{end}}
{{ if .Site.Params.email }}
    <a href="mailto:{{ .Site.Params.email }}" title="eMail" target="_blank">
        <i class="fab fa-envelope" style="font-size:24px; color:red" aria-hidden="true"></i>
    </a>
&nbsp;
{{end}}

<!-- {{ if .Site.Params.pinterestName }}
    <a href="https://www.pinterest.com/{{ .Site.Params.pinterestName }}" target="_blank">
        <i class="fa fa-pinterest" aria-hidden="true"></i>
    </a>
&nbsp;
{{end}}
{{ if .Site.Params.googlePlusName }}
    <a href="https://google.com/+{{ .Site.Params.googlePlusName }}" target="_blank">
        <i class="fa fa-google-plus-official" aria-hidden="true"></i>
    </a>
&nbsp;
{{end}} -->
