<amp-sidebar style="width: 300;	background: url(/images/sidebar.jpg), url(/images/destiny.jpg), url(/images/success.jpg);  background-position: top right, top 190px right, bottom 0px left;
  background-repeat: no-repeat; background-size: 300px, 400px;" id="sidebar" layout="nodisplay" side="right">
    <h4 style="color: pink; font-weight: bold;" class="nav-title">Menu</h4>
    <a style="color: white;" href="#" class="nav-close" on="tap:sidebar.close" role="button" tabindex="1">
        <span style="color: white;" class="hidden">Close</span>
    </a>
    <ul>
        {{ $currentNode := . }}

        {{ range .Site.Menus.main }}
            {{ with .Pre}}<h3 class="nav-section">{{ . }}</h3>{{end}}
            <li class="nav-opened{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .)}} nav-current{{end}}" role="presentation">
                <a style="color: white;" href="{{.URL}}">{{.Name}}</a>
            </li>
        {{end}}
			<li>
			<strong style="color: pink;">Trending Articles</strong>
			{{ partial "allposts.html" . }}

	        <amp-accordion>
        {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
            <section>
                <header style="color: pink;" class="nav-section">
                    <i class="fa fa-caret-down section-open" aria-hidden="true"></i>
                    <i class="fa fa-caret-right section-close" aria-hidden="true"></i>
                    {{ $taxonomyname | title | humanize }}
                </header>
                <div>
                {{ range $key, $value := $taxonomy }}
                    <li class="nav-opened" role="presentation"><a style="color: white;" href="/{{ $taxonomyname | urlize }}/{{ $key | urlize }}">{{ $key | humanize }}</a></li>
                {{ end }}
                </div>
            </section>
        {{ end }}
        </amp-accordion>
    </ul>
</amp-sidebar>
