<style amp-custom>
  amp-sidebar {
	width: 200px;
	background: url(/images/success.jpg) blue;
	background-size: 100% 100%;
  }
</style>
<amp-sidebar id="sidebar" layout="nodisplay" side="right">
    <h4 class="nav-title">Menu</h4>
    <a href="#" class="nav-close" on="tap:sidebar.close" role="button" tabindex="1">
        <span class="hidden">Close</span>
    </a>
    <ul>
        {{ $currentNode := . }}

        {{ range .Site.Menus.main }}
            {{ with .Pre}}<h3 class="nav-section">{{ . }}</h3>{{end}}
            <li class="nav-opened{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .)}} nav-current{{end}}" role="presentation">
                <a href="{{.URL}}">{{.Name}}</a>
            </li>
        {{end}}
			<nav toolbar="(max-width: 767px)" toolbar-target="target-element">
			<li>
<!-- 
				<form method="get" action="/search" target="_top">
					<input name="q" type="search" style="border: 1px solid #ccc; height:20px; width:180px; font-size:10pt;" placeholder="Search..." />
					<input type="submit" style="border: 1px solid #ccc; height:20px; width:60px; font-size:10pt;" value="Submit">
				</form> -->
			</li>
			<strong>Trending Articles</strong>
			{{ partial "allposts.html" . }}

	        <amp-accordion>
        {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
            <section>
                <header class="nav-section">
                    <i class="fa fa-caret-down section-open" aria-hidden="true"></i>
                    <i class="fa fa-caret-right section-close" aria-hidden="true"></i>
                    {{ $taxonomyname | title | humanize }}
                </header>
                <div>
                {{ range $key, $value := $taxonomy }}
                    <li class="nav-opened" role="presentation"><a href="/{{ $taxonomyname | urlize }}/{{ $key | urlize }}">{{ $key | humanize }}</a></li>
                {{ end }}
                </div>
            </section>
        {{ end }}
        </amp-accordion>
    </ul>
  </nav>
</amp-sidebar>
