</div>
<footer>
			<div class="footer-menu">
				<div class="site-footer">
						<ul style="list-style-type:none;" class="footer-item">
						<strong style="color:#0F52BA;">Trending Articles</strong>
							{{ range first 9 (shuffle (where (where .Site.RegularPages "Type" "post") ".Title" "!=" .Title )) }}
							<li class="footer-item">
							<a href="{{.Permalink}}">{{ .Params.Descslug }}</a>
							</li>
							{{end}}
						</ul>
				</div>
				<div class="site-footer">
						<ul style="list-style-type:none;" class="footer-item">
							<strong style="color:#0F52BA;">Contact Info</strong>
							<li><a href="mailto:vedicastrology123@gmail.com?subject=Vedic%20Astrology&body=Hi%20Steve%20Hora%2C%0D%0A%0D%0APlease%20reply%20to%20my%20below%20query.%0D%0A%0D%0AQuery%20%3A%0D%0A%0D%0ARegards%0D%0A">vedicastrology123@gmail.com</a></li>
							<li>{{ .Site.Params.mobile | markdownify }}</li>
							<br></br>
							<li><strong>{{.Site.Params.address | markdownify }}</strong></li>
							<li>
								<amp-iframe style="border-style:solid;border-radius:.5em;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3161.452331960607!2d-122.03936708485166!3d37.59151207979329!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f959ce51571f7%3A0xf4738bb291f57f1e!2sAlvarado-Niles%20Rd%2C%20California%2C%20USA!5e0!3m2!1sen!2sin!4v1598962316804!5m2!1sen!2sin" width="197" height="120" frameborder="0" sandbox="allow-scripts allow-same-origin"></amp-iframe>
							</li>
						</ul>
				</div>
				<div class="site-footer">
						<ul style="list-style-type:none;" class="footer-item">
							<strong style="color:#0F52BA;">Services Offered</strong>
							<li><a href="https://forms.gle/kLeDb2oBBUFWB6P49" target="_blank">Birth Chart Predictions.</a></li>
							<li><a href="/articles/services/">Marriage and Love Compatibility Matching.</a></li>
							<li><a href="/contact/">Prasna Marga.</a></li>
							<li><a href="/articles/gann-w-d/">Mundane Predictions.</a></li>
							<li><a href="/articles/gann-w-d/">Intraday Stock Market Analysis.</a></li>
								</br>
							<strong style="color:#0F52BA;">Top Reviews</strong>
								<li><a href="/articles/testimonials/">Testimonials</a></li>
								<li><a href='https://www.quora.com/profile/Steve-Hora' target="_blank">Steve Hora on Quora</a></li>
						</ul>			  
				</div>
			</div>
			<div class="footer-item social">
				{{ partial "social/home.html" . }}
			</div>
			<div class="meta-content">
				<a href="/articles/privacy/">{{.Site.Params.terms}}</a>&nbsp;and&nbsp;<a href="/articles/refunds/" title="Policies">{{.Site.Params.refund}}</a>.
				<p>Copyright &#169; {{ if eq now.Year 2018 }}2018{{ else }}2014-{{ now.Year }}{{ end }} - stevehora.com - All Rights Reserved.</p>
			</div>
</footer>
{{ partial "amp/google-analytics" . }}

<!-- GetButton.io widget -->
<!-- <script type="text/javascript">
    (function () {
        var options = {
            facebook: "688716881572889", // Facebook page ID
            telegram: "stevehorabot", // Telegram bot username
            call_to_action: "Message us", // Call to action
            button_color: "#FF6550", // Color of button
            position: "left", // Position may be 'right' or 'left'
            order: "telegram,facebook", // Order of buttons
        };
        var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script> -->
<!-- GetButton.io widget -->
<script type="text/javascript">
    (function () {
        var options = {
            whatsapp: "+918610386346", // WhatsApp number
            call_to_action: "", // Call to action
            button_color: "#FF6550", // Color of button
            position: "left", // Position may be 'right' or 'left'
            pre_filled_message: "Vedic Astrology - Steve Hora", // WhatsApp pre-filled message
        };
        var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>
<!-- /GetButton.io widget -->
<!-- /GetButton.io widget -->
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
<script>
  if('serviceWorker' in navigator) {
      navigator.serviceWorker
          .register('/service-worker.js', { scope: 'https://stevehora.com/' })
          .then(function(registration) {
              //console.log('Service Worker Registered');
          });

      navigator.serviceWorker
          .ready
          .then(function(registration) {
              //console.log('Service Worker Ready');
          });
  }
</script>

</body>
</html>
