</div>
 <style amp-custom="">
		footer {
			background-color: #0a183d;
			color: #fff;
			padding: 0px;
		}
		footer a {
    		color: #fff;
    		text-decoration: none;
		}
		footer a:hover {
			color:#19B5FE;
			text-decoration: underline;
		}
		footer .footer-menu {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		.footer-item {
			flex: 1;
			text-align: left;
			flex-basis: 200px;
		}
		.footer-item ul {
			display: flex;
			flex-direction: column;
			margin-top: 5px;
			padding: 0px;
		}
		.footer-item li {
			list-style: none;
			list-style-type:none;
			margin-bottom: 5px;
			margin-left: 10px;
			font-size: 14px;
		}
		footer .social {
			display: flex;
			justify-content: center;
		}
		footer .social ul {
			display: flex;
			flex-direction: row;
			margin-top: 10px;
			padding: 0px;
		}
		footer .social li {
			list-style: none;
			margin-right: 10px;
		}
		footer .social ul li a {
			color: #fff;
			font-size: 16px;
		}
		footer .meta-content {
			font-size: 10px;
			color:white;
			text-align: center;
		}
		footer .meta-content a {
			color: light-blue;
		}
		@media only screen and (max-width: 1024px) {
			.features {
				flex-wrap: wrap;
			}
			footer h2 {
				font-size: 140%;
			}
			#why-content .meta {
				flex-direction: row;
			}
		}
		@media only screen and (max-width: 768px) {
			.logo {
				width: 160px;
			}
			.links {
				display: none;
			}
			#sidebar-menu-btn {
				display: inline;
			}
			#contact-form {
				width: 80%;
			}
			.footer-item {
				flex-basis: 50%;
			}
		}
		@media only screen and (max-width: 600px) {
			header {
				padding: 5px 0px;
			}
			.content-width { 
				width: 90%;
			}
			#contact-form {
				width: 100%;
			}
			.heading {
				font-size: 28px;
			}
			.feature {
				flex-basis: 100%;
			}
			.meta {
				flex-direction: column;
			}
			.meta > a {
				text-align: center;
				margin-left: 0px;
				margin-bottom: 10px;
			}
</style>

<footer>
			<div class="footer-menu">
				<div class="site-footer">
						<ul style="list-style-type:none;" class="footer-item">
						<strong style="color:#0F52BA;">Trending Articles</strong>
							{{ partial "allposts.html" . }}
						</ul>
				</div>
				<div class="site-footer">
						<ul style="list-style-type:none;" class="footer-item">
							<strong style="color:#0F52BA;">Contact Info</strong>
							<li><a href="mailto:steve@stevehora.com?subject=Vedic%20Astrology&body=Hi%20Steve%20Hora%2C%0D%0A%0D%0APlease%20reply%20to%20my%20below%20query.%0D%0A%0D%0AQuery%20%3A%0D%0A%0D%0ARegards%0D%0A">steve@stevehora.com</a></li>
							<li>{{ .Site.Params.mobile | markdownify }}</li>
							<li><strong>{{.Site.Params.address | markdownify }}</strong></li>
							<li>
								<amp-iframe style="border-style:solid;border-radius:.5em;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3161.452331960607!2d-122.03936708485166!3d37.59151207979329!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f959ce51571f7%3A0xf4738bb291f57f1e!2sAlvarado-Niles%20Rd%2C%20California%2C%20USA!5e0!3m2!1sen!2sin!4v1598962316804!5m2!1sen!2sin" width="197" height="120" frameborder="0" sandbox="allow-scripts allow-same-origin"></amp-iframe>
							</li>
						</ul>
				</div>
				<div class="site-footer">
						<ul style="list-style-type:none;" class="footer-item">
							<strong style="color:#0F52BA;">Services Offered</strong>
							<li><a href="https://forms.gle/kLeDb2oBBUFWB6P49" target="_blank">Birth Chart Predictions.</a></li>
							<li><a href="/articles/services/">Marriage and Love compatibility and Matching.</a></li>
							<li><a href="/contact/">Prasna Marga.</a></li>
							<li><a href="/articles/gann-w-d/">Mundane Predictions - Stock Market Analysis.</a></li>
								</br>
							<strong style="color:#0F52BA;">Top Reviews</strong>
								<li><a href="/articles/testimonials/">Testimonials</a></li>
								<li><a href='https://www.quora.com/profile/Steve-Hora' target="_blank">Steve Hora on Quora</a></li>
						</ul>			  
				</div>
			</div>
			<div class="footer-item social">
				{{ partial "social/home.html" . }}
			</div>
			<div class="meta-content">
				<a href="/articles/privacy/">{{.Site.Params.terms}}</a> and <a href="/articles/refunds/" title="Policies">{{.Site.Params.refund}}</a>.
				<p>Copyright &#169; {{ if eq now.Year 2018 }}2018{{ else }}2014-{{ now.Year }}{{ end }} - stevehora.com - All Rights Reserved.</p>
			</div>
</footer>

{{ partial "amp/google-analytics" . }}
</body>
</html>
