<!doctype html>
<!--[if lt IE 8 ]><html ⚡ lang="en" class="no-js oldie"><![endif]-->
<!--[if IE 8 ]><html ⚡ lang="en" class="no-js ie8"><![endif]-->
<!--[if IE 9 ]><html ⚡ lang="en" class="no-js ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html ⚡ lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en{{ end }}" class="no-js"><!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <link rel="canonical" href="{{ .Permalink }}">
		<html amp lang="en">
        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
		<link rel="icon" href="/favicon.ico" type="image/x-icon" />


        {{ partial "amp/header" . }}

        <meta name="theme-color" content="{{ $.Site.Params.themeColor }}" />
		{{ if .IsHome }}
        <meta name="description" content="{{ $.Site.Params.description }}" />
		{{ else if .Section }}
        <meta name="description" content="{{ .Title }} - {{ $.Site.Params.description }}" />
		{{ else }}
        <meta name="description" content="{{ .Params.description }} - {{ $.Site.Title }}" />
		{{ end }}
		<link rel="search" href="/opensearch.xml" title=" {{ .Site.Params.searchSite }}" type="application/opensearchdescription+xml">
		<meta name="twitter:title" content="{{ .Title }} | {{ .Site.Params.metadescription }}" />
		
		<meta name="twitter:creator" content="@astrologyorbit">
		<meta name="twitter:description" content="{{ .Site.Params.description }} : {{ .Title }}">
		<meta name="twitter:image" content="https://stevehora.com/images/shrichakra.png">
		<meta name="url" content="{{ .Permalink }}" />
		<meta name="twitter:url" content="{{ .Permalink }}" /> 
		<meta property="og:url" content="{{ .Permalink }}" />
		<meta property="og:updated_time" content={{ .Lastmod.Format "2006-01-02T15:04:05Z0700" | safeHTML }} />

		<link rel="sitemap" type="application/xml" title="Sitemap" href="{{ .Site.BaseURL }}sitemap.xml" /> 
		
		{{ with .OutputFormats.Get "RSS" }}
			<link href="{{ .Permalink }}/rss.xml" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
			<link href="{{ .Permalink }}/rss.xml" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />
		{{ end }}

		<meta name="yandex-verification" content="1e043a3e8bf23f4b" />
		<meta name="google-site-verification" content="89QkaR-LLUVFRcrvVrn5fDqFVVyFR-Ppjoy9Hcl6Do8" />

		<meta name="imagemode" content="force" />
		<meta name="coverage" content="Worldwide" /> 
		<meta name="distribution" content="Global" />
		<meta name="HandheldFriendly" content="True" /> 
		<meta name="msapplication-tap-highlight" content="no" />
		<meta name="apple-mobile-web-app-title" content="{{ .Site.Params.description }}" /> 
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="apple-touch-fullscreen" content="yes" /> 

        {{ if isset .Site.Params "favicon" }}
            {{ partial "structure/favicon.html" .Site.Params.favicon }}
        {{ end }}
        <title>{{ if .IsHome }}{{ .Site.Title | title }}{{else}}{{ .Title | title }} &middot; {{ .Site.Title | title }}{{ end }}</title>
        {{ partial "seo/main" . }}

{{ if (or .IsHome (eq .Type "main") (eq .Type "post") (eq .Type "featured")) }}
	<meta name="keywords" content= "{{ range $keyw,$keyword:=.Params.keywords}}{{ if $keyw }},{{ end }} {{$keyword}}{{ end }}"/>
{{ else if .Section }}
		<meta name="keywords" content= "{{ .Site.Params.keywords}}"/> 
{{ end }}

	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js" crossorigin="anonymous">

<!-- Load font awesome icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">

<link rel="stylesheet" href="https://andreas-peter.de/font-awesome/css/font-awesome.min.css">

	<!-- <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css"> -->

<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

<!-- <script src='https://cdn.jsdelivr.net/npm/@widgetbot/crate@3' async defer>
    new Crate({
        server: '524053849544327183', // Vedic Astrology - Jyotish
        channel: '863006497054654505', // #🌸・welcome・🌸
		location: ['bottom', 'left']
    })
</script> -->
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<link rel="manifest" href="/favicon-manifest.json">

<!-- GetResponse Analytics -->
<script type="text/javascript">
      
  (function(m, o, n, t, e, r, _){
          m['__GetResponseAnalyticsObject'] = e;m[e] = m[e] || function() {(m[e].q = m[e].q || []).push(arguments)};
          r = o.createElement(n);_ = o.getElementsByTagName(n)[0];r.async = 1;r.src = t;r.setAttribute('crossorigin', 'use-credentials');_.parentNode .insertBefore(r, _);
      })(window, document, 'script', 'https://ga.getresponse.com/script/15d7893f-c996-48dd-8d4d-f0bb9c43775e/ga.js', 'GrTracking');


  </script>
  <!-- End GetResponse Analytics -->
</head>
<body>
<span class="target">
    <a class="target-anchor" id="top"></a>
    <amp-position-observer
      on="enter:hideAnim.start; exit:showAnim.start"
      layout="nodisplay">
    </amp-position-observer>
  </span>
<!-- Make the button visible -->  
  <amp-animation id="showAnim" layout="nodisplay">
    <script type="application/json">
      {
        "duration": "200ms",
         "fill": "both",
         "iterations": "1",
         "direction": "alternate",
         "animations": [
           {
             "selector": "#scrollToTopButton",
             "keyframes": [
               { "opacity": "1", "visibility": "visible" }
             ]
           }
         ]
      }
    </script>
  </amp-animation>
<!-- Make the button invisible -->  
  <amp-animation id="hideAnim" layout="nodisplay">
    <script type="application/json">
      {
       "duration": "200ms",
         "fill": "both",
         "iterations": "1",
         "direction": "alternate",
         "animations": [
           {
             "selector": "#scrollToTopButton",
             "keyframes": [
               { "opacity": "0", "visibility": "hidden" }
             ]
           }
         ]
     }
    </script>
  </amp-animation>

  <!-- Create button for AMP Scroll Back to Top -->  
    <button id="scrollToTopButton" on="tap:top.scrollTo(duration=500)" class="scrollToTop icon-arrow">
    <svg viewBox="0 0 330 512" aria-hidden="true" role="img" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1em" height="1em">
	  <path d="M305.913 197.085c0 2.266-1.133 4.815-2.833 6.514L171.087 335.593c-1.7 1.7-4.249 2.832-6.515 2.832s-4.815-1.133-6.515-2.832L26.064 203.599c-1.7-1.7-2.832-4.248-2.832-6.514s1.132-4.816 2.832-6.515l14.162-14.163c1.7-1.699 3.966-2.832 6.515-2.832 2.266 0 4.815 1.133 6.515 2.832l111.316 111.317 111.316-111.317c1.7-1.699 4.249-2.832 6.515-2.832s4.815 1.133 6.515 2.832l14.162 14.163c1.7 1.7 2.833 4.249 2.833 6.515z" fill-rule="nonzero"></path>
	</svg>
  </button>

<!-- 	<input id="dark-mode" class="visually-hidden" type="checkbox">
	<label for="dark-mode">Night mode</label>
 -->{{ partial "navigation/sidebar" .}}
<div class="site-wrapper">
