{{ partial "structure/header.html" . }}

<script type="application/ld+json">
	{
    "@context": "http://schema.org",
    "@type": "WebPage",
    "name": "{{ .Site.Title }}",
	"keywords" : [ {{ range $index, $keyword := .Params.keywords }}{{ if $index }}, {{ end }}"{{ $keyword }}" {{ end }}],
    "url": "{{ .Permalink }}",
    "description": "{{ .Site.Params.description }}",
    "thumbnailUrl": "{{ .Site.Params.Logo | absURL }}",
     "sameAs": [ 
     "https://www.facebook.com/SteveHoraAstrologer",
     "https://twitter.com/AstrologyOrbit"
     ],    
    "license": "{{ .Site.Params.Copyright }}"
}
</script>

{{if .Params.cover}}
  <header class="main-header tag-head list-cover">
{{else if .Site.Params.cover}}
  <header class="main-header tag-head cover">
{{else}}
    <header class="main-header tag-head no-cover">
{{end}}
    <nav class="main-nav overlay clearfix">
      {{ partial "navbar.html" . }}
  </nav>
  
  
      <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{.Title}}</h1>
            <h2 class="page-description">
                {{if .Params.description}}
                    {{.Params.description}}
                {{end}}
            </h2>
        </div>
    </div>

</header>

<main class="content" role="main">

  <article class="post type-{{ .Type }}">

    <header class="post-header">
		<amp-img style="border: solid; border-color: purple; border-radius: 50%;" src="/images/birth-chart.png" width="48" height="48" alt="{{ .Page.Params.description }}"></amp-img>
    </header>

    <section class="post-content">
		<p><h3>Birth Chart Predictions</h3>
		Click <a target="_blank" href="https://forms.gle/kLeDb2oBBUFWB6P49">Prediction link</a> and provide <strong>your accurate date, time, place of birth and your life questions</strong>.</br>
		As always we assure you of our sincere vedic astrology advice and accurate horoscope predictions.</p>
		
		To contact us, click on <a href="https://docs.google.com/forms/d/e/1FAIpQLSevubIDnoz_K3v6dTpR7Fj-9IRlXZrUnYhPbq1Mo-1uM1mJWQ/viewform?usp=pp_url" target=_blank>Contact Form</a>.
		<br></br>
      {{ .Content }}
    </section>
    <!-- {{ partial "social/share.html" . }} -->
 
  <footer style="background:#0F52BA; border-radius: 101%;" class="post-footer">

    {{if .Site.Params.logo}}
    <figure class="author-image">
        <a style="border: solid; border-color: purple; border-radius: 50%;" class="img" href="{{.Site.BaseURL | relURL}}"></a>
    </figure>
    {{end}}
  </footer>
</article>

</main>
{{ partial "structure/footer.html" . }}

<!-- Event snippet for Contact conversion page
In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
<!-- <script>
function gtag_report_conversion(url) {
  var callback = function () {
    if (typeof(url) != 'undefined') {
      window.location = url;
    }
  };
  gtag('event', 'conversion', {
      'send_to': 'AW-921381137/8z9TCKnL9twBEJHSrLcD',
      'event_callback': callback
  });
  return false;
}
</script> -->

