        <div class="index-content post">
			{{.Content}}
		   <footer style="background: #0F52BA; position: relative;
    margin: 1.5rem 0 0 0;
    padding: 1.5rem 0 0 0;
    border-top: #EBF2F6 2px solid; border-radius: 101%; text-align: center;">

			{{if .Site.Params.logo}}
			<figure class="author-image">
				<a style="border: solid; border-color: purple; border-radius: 50%;"  class="img" href="{{.Site.BaseURL | relURL}}"></a>
			</figure>
			{{end}}
		  </footer>
        </div>

	{{ with .Site.GetPage "/articles/hora-wealth.md" }}
		<article class="post type-{{ .Type }}">
			<header class="post-header">
				<strong class="post-title"><a href="{{ .RelPermalink }}">{{ .Title |title }}</a></strong>
			</header>
			<section  class="flex-container">
				<section class="post-excerpt column">
					{{ if and (isset .Params "excerpt") (.Params.excerpt) }}
						</br><p class="excerpt">{{ .Params.excerpt  | plainify }} <a style="color:#0F52BA;" class="read-more" href="{{.RelPermalink}}">(Read more)</a></p>
					{{else}}
						<p class="summary">{{ .Summary | plainify }}
						{{ if .Truncated }}
							<a style="color:#0F52BA;" class="read-more" href="{{.RelPermalink}}">(Read more)</a>
						{{end}}
						</p>
					{{end}}
				</section>
				<section class="column bg-alt">
					<amp-img src="{{ .Page.Params.image | relURL }}" layout="responsive" width="100" height="100" alt="{{ .Page.Params.description }}"></amp-img>
				</section>
			</section>
			<section>
				<footer style="height:27px; line-height:2.6rem; background:#0F52BA; border: 0.1rem solid purple; border-radius: 0.1em;" class="post-meta">
				{{ partial "post_meta" .}}
				</footer>	
			</section>
		</article>
	{{end}}

	{{ with .Site.GetPage "/steve-hora.md" }}
		<article class="post type-{{ .Type }}">
			<header class="post-header">
				<strong class="post-title"><a href="{{ .RelPermalink }}">{{ .Title |title }}</a></strong>
			</header>
			<section  class="flex-container">
				<section class="post-excerpt column">
					{{ if and (isset .Params "excerpt") (.Params.excerpt) }}
						</br><p class="excerpt">{{ .Params.excerpt  | plainify }} <a style="color:#0F52BA;" class="read-more" href="{{.RelPermalink}}">(Read more)</a></p>
					{{else}}
						<p class="summary">{{ .Summary | plainify }}
						{{ if .Truncated }}
							<a style="color:#0F52BA;" class="read-more" href="{{.RelPermalink}}">(Read more)</a>
						{{end}}
						</p>
					{{end}}
				</section>
				<section class="column bg-alt">
					<amp-img src="{{ .Page.Params.image | relURL }}" layout="responsive" width="81" height="81" alt="{{ .Page.Params.description }}"></amp-img>
				</section>
			</section>
			<section>
				<footer style="height:27px; line-height:2.6rem; background:#0F52BA; border: 0.1rem solid purple; border-radius: 0.1em;" class="post-meta">
				{{ partial "post_meta" .}}
				</footer>	
			</section>
		</article>


		<article class="post">
			<header class="post-header">
				<strong class="post-title"><a href="{{ .RelPermalink }}">Signs - Moveable, Immovable and Dual</a></strong>
			</header>
			<p>To know more about Vedic Astrology Signs, Click below youtube video.</p>
			<section  class="flex-container">
				<section style="min-width: 70%;" class="post-excerpt column">
					<amp-youtube data-videoid="WL7H-v_LzDw" layout="responsive" width="250" height="135"></amp-youtube>
				</section>
				<section style=" background:#fff;" class="column bg-alt">
					{{ if and (isset .Params "excerpt") (.Params.excerpt) }}
						</br><p class="excerpt">{{ .Params.excerpt  | plainify }} <a style="color:#0F52BA;" class="read-more" href="{{.RelPermalink}}">(Read more)</a></p>
					{{else}}
						<p class="summary">{{ "Astrological Signs." | plainify }}
						</br>
						{{ if .Truncated }}
							<a style="color:#0F52BA;" class="read-more" href="{{.RelPermalink}}">(Read more)</a>
						{{end}}
						</p>
					{{end}}
				</section>
			</section>
			<section>
				<footer style="height:27px; line-height:2.6rem; background:#0F52BA; border: 0.1rem solid purple; border-radius: 0.1em;" class="post-meta">
				{{ partial "post_meta" .}}
				</footer>	
			</section>
		</article>

		<article class="post">
			<header class="post-header">
				<strong class="post-title"><a href="{{ .RelPermalink }}">Drekkana</a></strong>
			</header>
			<p>To know more about Drekkana in Vedic Astrology, Click below youtube video</p>
			<section  class="flex-container">
				<section style="min-width: 70%;" class="post-excerpt column">
					<amp-youtube data-videoid="L5NCD05E2dE" data-param-rel="0" layout="responsive" width="250" height="124"></amp-youtube>
				</section>
				<section style=" background:#fff;" class="column bg-alt">
					{{ if and (isset .Params "excerpt") (.Params.excerpt) }}
						</br><p class="excerpt">{{ .Params.excerpt  | plainify }} <a style="color:#0F52BA;" class="read-more" href="{{.RelPermalink}}">(Read more)</a></p>
					{{else}}
						<p class="summary">{{ "Drekkana  Mundane Predictions." | plainify }}
						{{ if .Truncated }}
							<a style="color:#0F52BA;" class="read-more" href="{{.RelPermalink}}">(Read more)</a>
						{{end}}
						</p>
					{{end}}
				</section>
			</section>
			<section>
				<footer style="height:27px; line-height:2.6rem; background:#0F52BA; border: 0.1rem solid purple; border-radius: 0.1em;" class="post-meta">
				{{ partial "post_meta" .}}
				</footer>	
			</section>
		</article>

		<article class="post">
			<header class="post-header">
				<strong class="post-title"><a href="{{ .RelPermalink }}">Mantra Prabhava</a></strong>
			</header>
			<p>To know more about Mantra, Click below youtube video</p>
			<section  class="flex-container">
				<section style="min-width: 70%;" class="post-excerpt column">
					<amp-youtube data-videoid="pPt8fyLvdqg" data-param-rel="0" layout="responsive" width="250" height="124"></amp-youtube>
				</section>
				<section style=" background:#fff;" class="column bg-alt">
					{{ if and (isset .Params "excerpt") (.Params.excerpt) }}
						</br><p class="excerpt">{{ .Params.excerpt  | plainify }} <a style="color:#0F52BA;" class="read-more" href="{{.RelPermalink}}">(Read more)</a></p>
					{{else}}
						<p class="summary">{{ "Mantra Prabhava for Success." | plainify }}
						{{ if .Truncated }}
							<a style="color:#0F52BA;" class="read-more" href="{{.RelPermalink}}">(Read more)</a>
						{{end}}
						</p>
					{{end}}
				</section>
			</section>
			<section>
				<footer style="height:27px; line-height:2.6rem; background:#0F52BA; border: 0.1rem solid purple; border-radius: 0.1em;" class="post-meta">
				{{ partial "post_meta" .}}
				</footer>	
			</section>
		</article>

		<article class="post">
			<header class="post-header">
				<strong class="post-title"><a href="/articles/tithi-information/">Shri Chakra</a></strong>
			</header>
			<section class="flex-container">
				<section style="text-align: center" class="post-excerpt column">
		<a href="/articles/tithi-information/"><amp-img src="/images/shrichakramts.png" width="200" height="200" alt="Shri Chakra" title="Your horoscope's Customized Mantra, Yantra and Tantra for Success." class="img-fluid rounded mr-5 mb-4"></amp-img><br><span class="font-weight-light text-danger">Shri Chakra - Mantra, Yantra and Tantra for Success</span></a>
				</section>
				<section style=" background:#fff; text-align:left" class="column bg-alt">
					{{ if and (isset .Params "excerpt") (.Params.excerpt) }}
						<p class="excerpt">{{ .Params.excerpt  | plainify }} <a style="color:#0F52BA;" class="read-more" href="/articles/tithi-information/">(Read more)</a></p>
					{{else}}
						<p class="summary">Tithi in Vedic Astrology						
						{{ if .Truncated }}
							<a style="color:#0F52BA;" class="read-more" href="/articles/tithi-information/">(Read more)</a>
						{{end}}
						</p>
					{{end}}
				</section>
			</section>
		</article>
	{{end}}
        <div class="index-content post">
		   <footer style="background: #0F52BA; position: relative;
    margin: 1.5rem 0 0 0;
    padding: 1.5rem 0 0 0;
    border-top: #EBF2F6 2px solid; border-radius: 101%; text-align: center;">

			{{if .Site.Params.logo}}
			<figure class="author-image">
				<a style="border: solid; border-color: purple; border-radius: 50%;"  class="img" href="{{.Site.BaseURL | relURL}}"></a>
			</figure>
			{{end}}
		  </footer>
        </div>