        <div class="index-content post">
			{{.Content}}
		   <footer style="height:0.1rem; background:#0F52BA; border: 0.1rem solid #0F52BA; border-radius: 0.1em;" class="post-footer">

			{{if .Site.Params.logo}}
			<figure class="author-image">
				<a class="img" href="{{.Site.BaseURL | relURL}}"></a>
			</figure>
			{{end}}
		  </footer>
        </div>

		<article class="post">
			<header class="post-header">
				<strong class="post-title"><a href="{{ .RelPermalink }}">Signs - Moveable, Immovable and Dual</a></strong>
			</header>
			<p>To know more about Vedic Astrology Signs, Click below youtube video</p>
			<section  class="flex-container">
				<section style="min-width: 70%;" class="post-excerpt column">
					<amp-youtube data-videoid="WL7H-v_LzDw" data-param-rel="0" layout="responsive" width="250" height="150"></amp-youtube>
				</section>
				<section style=" background:#fff;" class="column bg-alt">
					{{ if and (isset .Params "excerpt") (.Params.excerpt) }}
						</br><p class="excerpt">{{ .Params.excerpt  | plainify }} <a style="color:#0F52BA;" class="read-more" href="{{.RelPermalink}}">Read More...</a></p>
					{{else}}
						<p class="summary">Signs - Moveable, Immovable and Dual - Significances.
						</br>
						{{ if .Truncated }}
							<a style="color:#0F52BA;" class="read-more" href="{{.RelPermalink}}">Read More...</a>
						{{end}}
						</p>
					{{end}}
				</section>
			</section>
			<section>
				<footer style="height:27px; background:#0F52BA; border: 0.1rem solid #51aaa3; border-radius: 0.1em;" class="post-meta">
				{{ partial "post_meta" .}}
				</footer>	
			</section>
		</article>

	{{ with .Site.GetPage "/articles/hora-wealth.md" }}
		<article class="post type-{{ .Type }}">
			<header class="post-header">
				<strong class="post-title"><a href="{{ .RelPermalink }}">{{ .Title |title }}</a></strong>
			</header>
			<section  class="flex-container">
				<section class="post-excerpt column">
					{{ if and (isset .Params "excerpt") (.Params.excerpt) }}
						</br><p class="excerpt">{{ .Params.excerpt  | plainify }} <a style="color:#0F52BA;" class="read-more" href="{{.RelPermalink}}">Read More…</a></p>
					{{else}}
						<p class="summary">{{ .Summary | plainify }}
						</br>
						{{ if .Truncated }}
							<a style="color:#0F52BA;" class="read-more" href="{{.RelPermalink}}">Read More…</a>
						{{end}}
						</p>
					{{end}}
				</section>
				<section class="column bg-alt">
					<amp-img src="{{ .Page.Params.image | relURL }}" width="100%" height="100%" alt="{{ .Page.Params.description }}"></amp-img>
				</section>
			</section>
			<section>
				<footer style="height:27px; background:#0F52BA; border: 0.1rem solid #51aaa3; border-radius: 0.1em;" class="post-meta">
				{{ partial "post_meta" .}}
				</footer>	
			</section>
		</article>
	{{end}}

	{{ with .Site.GetPage "/steve-hora.md" }}
		<article class="post type-{{ .Type }}">
			<header class="post-header">
				<strong class="post-title"><a href="{{ .RelPermalink }}">{{ .Title |title }}</a></strong>
			</header>
			<section  class="flex-container">
				<section class="post-excerpt column">
					{{ if and (isset .Params "excerpt") (.Params.excerpt) }}
						</br><p class="excerpt">{{ .Params.excerpt  | plainify }} <a style="color:#0F52BA;" class="read-more" href="{{.RelPermalink}}">Read More…</a></p>
					{{else}}
						<p class="summary">{{ .Summary | plainify }}
						</br>
						{{ if .Truncated }}
							<a style="color:#0F52BA;" class="read-more" href="{{.RelPermalink}}">Read More…</a>
						{{end}}
						</p>
					{{end}}
				</section>
				<section class="column bg-alt">
					<amp-img src="{{ .Page.Params.image | relURL }}" width="100%" height="100%" alt="{{ .Page.Params.description }}"></amp-img>
				</section>
			</section>
			<section>
				<footer style="height:27px; background:#0F52BA; border: 0.1rem solid #51aaa3; border-radius: 0.1em;" class="post-meta">
				{{ partial "post_meta" .}}
				</footer>	
			</section>
		</article>

		<article class="post">
			<header class="post-header">
				<strong class="post-title"><a href="{{ .RelPermalink }}">Drekkana</a></strong>
			</header>
			<p>To know more about Drekkana in Vedic Astrology, Click below youtube video</p>
			<section  class="flex-container">
				<section style="min-width: 70%;" class="post-excerpt column">
					<amp-youtube data-videoid="L5NCD05E2dE" data-param-rel="0" layout="responsive" width="250" height="150"></amp-youtube>
				</section>
				<section style=" background:#fff;" class="column bg-alt">
					{{ if and (isset .Params "excerpt") (.Params.excerpt) }}
						</br><p class="excerpt">{{ .Params.excerpt  | plainify }} <a style="color:#0F52BA;" class="read-more" href="{{.RelPermalink}}">Read More...</a></p>
					{{else}}
						<p class="summary">Drekkana and its Significances in Vedic Astrology by Steve Hora
						</br>
						{{ if .Truncated }}
							<a style="color:#0F52BA;" class="read-more" href="{{.RelPermalink}}">Read More...</a>
						{{end}}
						</p>
					{{end}}
				</section>
			</section>
			<section>
				<footer style="height:27px; background:#0F52BA; border: 0.1rem solid #51aaa3; border-radius: 0.1em;" class="post-meta">
				{{ partial "post_meta" .}}
				</footer>	
			</section>
		</article>

		<article class="post">
			<header class="post-header">
				<strong class="post-title"><a href="{{ .RelPermalink }}">Mantra Prabhava</a></strong>
			</header>
			<p>To know more about Vedic Astrology Signs, Click below youtube video</p>
			<section  class="flex-container">
				<section style="min-width: 70%;" class="post-excerpt column">
					<amp-youtube data-videoid="pPt8fyLvdqg" data-param-rel="0" layout="responsive" width="250" height="150"></amp-youtube>
				</section>
				<section style=" background:#fff;" class="column bg-alt">
					{{ if and (isset .Params "excerpt") (.Params.excerpt) }}
						</br><p class="excerpt">{{ .Params.excerpt  | plainify }} <a style="color:#0F52BA;" class="read-more" href="{{.RelPermalink}}">Read More...</a></p>
					{{else}}
						<p class="summary">Mantra Prabhava by Steve Hora
						</br>
						{{ if .Truncated }}
							<a style="color:#0F52BA;" class="read-more" href="{{.RelPermalink}}">Read More...</a>
						{{end}}
						</p>
					{{end}}
				</section>
			</section>
			<section>
				<footer style="height:27px; background:#0F52BA; border: 0.1rem solid #51aaa3; border-radius: 0.1em;" class="post-meta">
				{{ partial "post_meta" .}}
				</footer>	
			</section>
		</article>

		<article class="post">
			<header class="post-header">
				<strong class="post-title"><a href="/articles/tithi-information/">Shri Chakra</a></strong>
			</header>
			<section class="flex-container">
				<section style="min-width: 50%; text-align:center" class="post-excerpt column">
		<a href="/articles/tithi-information/"><amp-img src="/images/shrichakramts.png" loading="lazy" width="200" height="200" alt="Shri Chakra" title="Your horoscope's Customized Mantra, Yantra and Tantra for Success." class="img-fluid rounded mr-5 mb-4"></amp-img><br><span class="font-weight-light text-danger">Shri Chakra - Mantra, Yantra and Tantra for Success</span></a>
				</section>
				<section style=" background:#fff;" class="column bg-alt">
					{{ if and (isset .Params "excerpt") (.Params.excerpt) }}
						</br><p class="excerpt">{{ .Params.excerpt  | plainify }} <a style="color:#0F52BA;" class="read-more" href="/articles/tithi-information/">Read More...</a></p>
					{{else}}
						<p class="summary">Tithi in Vedic Astrology by Steve Hora
						
						{{ if .Truncated }}
							<a style="color:#0F52BA;" class="read-more" href="/articles/tithi-information/">Read More...</a>
						{{end}}
						</p>
					{{end}}
				</section>
			</section>
			<section>
				<footer style="height:27px; background:#0F52BA; border: 0.1rem solid #51aaa3; border-radius: 0.1em;" class="post-meta">
				{{ partial "post_meta" .}}
				</footer>	
			</section>
		</article>

	{{end}}

{{/*
    Display posts from a single section only. default to 'post'
*/}}
{{ if not ($.Scratch.Get "paginatedSections") }}
    {{ if isset .Site.Params "paginatedSections" }}
        {{ $.Scratch.Set "paginatedSections" .Site.Params.paginatedSections }}
    {{ else }}
        {{ $.Scratch.Set "paginatedSections" "main" }}
    {{ end }}
{{ end }}

{{ $list := where .Data.Pages "Section" "in" ($.Scratch.Get "paginatedSections") }}
{{ $list := where $list "Section" "!=" "" }}
{{ $paginator := .Paginate ( $list ) }}

<div class="extra-pagination inner">
    {{ partial "navigation/pagination.html" $paginator }}
</div>

{{ range $index, $page := $paginator.Pages }}
    {{ partial "list.html" . }}
{{ end }}

<nav class="pagination" role="navigation">
    {{ partial "navigation/pagination.html" $paginator }}
</nav>
