<article class="post type-{{ .Type }}">
    <header class="post-header">
        <strong class="post-title"><a href="{{ .RelPermalink }}">{{ .Title |title }}</a></strong>
    </header>
<section  class="flex-container">
    <section class="post-excerpt column">
        {{ if and (isset .Params "excerpt") (.Params.excerpt) }}
            </br><p class="excerpt">{{ .Params.excerpt  | plainify }} <a style="color:#0F52BA;" class="read-more" href="{{.RelPermalink}}">Read More…</a></p>
        {{else}}
				<p class="summary">{{ .Summary | truncate 70 | plainify }}
				</br>
                {{ if .Truncated }}
                    <a style="color:#0F52BA;" class="read-more" href="{{.RelPermalink}}">Read More…</a>
                {{end}}
            </p>
        {{end}}
      </section>
			      <section class="column bg-alt">
				<amp-img src="{{ .Page.Params.image | relURL }}" layout="responsive" width="100" height="85" alt="{{ .Page.Params.description }}"></amp-img>
			      </section>
</section>
<section>
    <footer style="height:28px; line-height: 2.6rem; background:#0F52BA; border: 0.1rem solid purple; border-radius: 0.2rem;" class="post-meta">
		{{ partial "post_meta" .}}
    </footer>	
</section>
</article>

