{{ range .Site.Data.q2as }}
	  <p><strong>Question: </strong>{{ .question }}</br>
	  <strong>Answer: </strong>{{ .correctAnswer }}</br>
	  <a class="read-more" href="{{ .BaseURL }}{{ .relatedLink }}">Read More &raquo;</a></br>
	  ____________</p>
	  
	<script type="application/ld+json">
		{
		  "@context": "https://schema.org",
		  "@type": "FAQPage",
		  "mainEntity": [{
						"@type": "Question",
						"name": "{{ .question }}",
						"acceptedAnswer": {
						  "@type": "Answer",
						  "text": "{{ .correctAnswer }}"
						}
					}
			]
		}
	</script>	  
{{ end }}